.box1{
    background-color: rgb(24, 9, 39);
    color: brown;
    padding: 1rem;
}
.box2{
    background-color: rgb(53, 9, 9);
    color: rgb(57, 80, 10);
    padding: 1rem;
}
@media screen and (max-width: 400px) {
    .container{
        display: flex;
    }
    .box1{
        background-color: aqua;
    }

    
}